.school-results {
    text-align: center;
    src: local('SpotifyMix-Medium'), url(../../assets/fonts/SpotifyMix-Medium.ttf) format('truetype');
    font-family: 'SpotifyMix-Medium';
}
.track-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;

}

